header {
    background: #bbbbbb;
}

.header-caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}


nav {
    top: 114px;
    right: 100px;
    position: absolute;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
