body {
    font-family: 'Montserrat', sans-serif;
}

/* Home */

.banner {
    width: 100%;
    image-rendering: crisp-edges;
}

.principal {
    width: 940px;
    margin: 0 auto;
    background: #fefefe;
}

.titulo-principal {
    margin: 0.2em 0 1em 0;
    text-align: center;

    font-size: 2em;
    /* element's own font size multiplier */
    font-weight: bold;
    clear: left;
    /* this does some voodo stuff read doc */

}

.titulo-principal::before {
    content:"["
}
.titulo-principal::after {
    content:"]"
}


.utensilios {
    width: 10.5%;
    border: aliceblue 3px outset;
    float: left;
    margin-right: 10px;
}

.principal p {
    /* text-align: center; */
    margin: 0 0 1em 0;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-weight: style;
}

.ubicacion {
    text-align: center;
    background: linear-gradient(#fefefe, #888888);
    /* background: radial-gradient(orange 50%, blue, red, black); */
    padding: 2em;
}

.ubicacion iframe {
    width: 940px;
    margin: 0 auto;
    padding: 1em;
}

.video {
    width: 560px;
    height: 315px;
    margin: 1em auto;
}

.titulo-diferenciales, t {
    margin: 0 0 1em 2em;
    padding: 1em 0;
    text-align: center;

    font-size: 2em;
    /* element's own font size multiplier */
    font-weight: bold;
    clear: left;
    /* this does some voodo stuff read doc */
}

.titulo-diferenciales:first-child::first-letter {
    color:red
}

.diferenciales {
    background: #888888;
}

.contenido-diferenciales {
    width: 100%;
    margin: 0 auto;
}

.lista-diferenciales {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 0 20px;
    width: 40%;
}

.imagen-diferenciales {
    width: 400px;
}

.items {
    line-height: 1.5;
}

.items::before {
    content: "★";
}

.items:first-child {
    font-weight: bold;
}



/* Productos */

:root {
    --hover-color-gen: rgb(255 246 220);
    --active-color-gen: rgb(156, 235, 255);
}

.productos-main {
    width: 940px;
    margin: 0 auto;
}

header {
    background: #bbbbbb;
}

.header-caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}


nav {
    top: 114px;
    right: 100px;
    position: absolute;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: var(--hover-color-gen);
    text-decoration: underline;
}

.productos {
    width: 940px;
    padding: 50px;
    margin: 0 auto;
    mask-clip: 100px;
    fill: "transparent";
}

.productos h2 {
    font-size: 26px;
    font-weight: bold;
}

.productos li:hover h2 {
    font-size: 28px;
}

.productos li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    /* below is same as - border: 5px groove black */
    border-width: 5px;
    border-style: groove;
    border-color: black;
    border-radius: 3px;
    padding: 30px 20px;
    box-sizing: border-box;

}

.productos li:hover {
    border-color: var(--hover-color-gen);
}

.productos li:active {
    border-color: var(--active-color-gen);
}

.productos-descripcion {
    font-size: 18px;
}

.productos-precio {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


footer {
    text-align: center;
    background-image: url("imagenes/bg.jpg");
    padding: 20px;
    font-size: 13px;
    color: white;
}


.copyright {
    margin: 20px;
}


/* Contacto */

.contacto-main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 18px;
    margin: 0 0 3px;
}

.input-padron {
    display: block;
    margin: 0 0 10px;
    padding: 0px 25px;
    width: 35%;
}


.checkbox,
.seleccion {
    margin: 5px 5px;
}

/* Higher selector specifity takes priority over lower (html-inline > id(n) > class(n) > elem(n)) */
p,
form p,
.test,
#test {
    color: initial;
}

.enviar {
    width: 25%;
    padding: 10px;
    margin-left: 18px;
    color: white;
    font-weight: bold;
    background: #ddbe31;
    border-radius: 1px;
    border-color: #bbbbbb;
}

.enviar:hover {
    color: rgb(223, 223, 223);
    background: #da1212;
    border-radius: 0px;
    border-color: #929292;
    transition: 400ms;
    /* transition: 100s background; */
    transform: scale(1.05)
        /* rotate(70deg) */
    ;
}


table {
    margin: 30px 30px;
}

thead {
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td,
th {
    border: 1px solid black;
    padding: 5px;
}
