* {
    border-radius: 0;
    font-family: cursive;
}

body {
    margin: 0 auto;
    max-width: 95vw;

    align-items: center;
    background: rgb(255, 236, 201);
    background: rgb(9, 9, 121);
    background: rgb(231, 231, 246);

}

h1 {
    color: rgb(255, 241, 178);
    text-align: center;
    text-decoration: underline dotted 5px white;
    padding-bottom: 5px;

    background: rgb(115 170 201);
    box-shadow: -1px 4px 5px grey;

    border: 9px white dashed;
    border-color: azure;

}

#miku {
    position: absolute;
    background: none;
    border: none;
}

#miku img {
    width: 198px;
    height: 351px;
}

#description {
    background-color: aliceblue;
    border: 2px groove white;
    text-align: center;
    color: grey;
}

.middle {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    background-size: contain;

    background: rgb(215, 236, 248);
    border: 9px white dashed;
    border-color: azure;
    box-shadow: -1px 4px 5px grey;

}

.crypt-box-name {
    background-color: aliceblue;
    border: 2px groove grey;
    border-radius: 20%;
    display: grid;
}

.crypt-box#left {
    text-align: right;
}

.crypt-spacer {
    /* turn into padding  */
    width: 40px;
    /* background: white; */
}

.crypt-spacer img {
    width: 40px;
    height: 40px;
}

.crypt-spacer img#arrow-top {
    padding-top: 73px;
    background: linear-gradient(100 green red)
}

.crypt-spacer img#arrow-bot {
    padding-bottom: 160px;
    transform: rotate(180deg);
}

.crypt-text-input {
    color: grey;
    text-transform: lowercase;
    justify-content: center;
    resize: none;
    border: 2.5px rgb(221, 207, 189) solid;
    background: rgb(255, 242, 198);
    background-image: url("images/essex.gif");
    background-blend-mode: saturation;
    background-size: contain;
    width: 90%;
}

.crypt-text-input#unencrypted-text-input {
    background-image: url("images/essex.gif");
}

.crypt-copy-btn {
    padding-top: 3px;
}

.crypt-copy-btn button#encrypt-copy {
    float: left;
}

.crypt-copy-btn button#decrypt-copy {
    float: right;
}

.crypt-copy-btn button {
    display: flex;
    width: 128px;
    height: 46px;
    float: right;
    border-color: azure;
    box-shadow: -1px 4px 5px grey;
    background-size: contain;
    vertical-align: middle;
    justify-content: center;
}

#decrypt-copy-btn {
    float: left;
}

.crypt-change-btn {
    padding-top: 0px;
}

.crypt-change-btn button {
    display: flex;
    width: 128px;
    height: 46px;
    float: right;
    border-color: azure;
    box-shadow: -1px 4px 5px grey;
    background-size: contain;
    vertical-align: middle;
    justify-content: center;
}


#decryp-btn {
    float: right;
}

#encrypt-btn {
    float: left;
}

.btnr p {
    scroll-padding: 40px;
}

.middle p {
    display: inline-block;
}

#essexdachis {
    display: flex;
    height: 180px;
    width: 1170px;
    background: #57d1a8;
    mask-image: url("images/essex.gif");
}


button:hover {


    transform: translate(0, 3px) rotate(180deg);
}

button:hover img {
    transform: rotate(180deg);
    transition: 50s;

}

button:active {
    background: rgb(223, 214, 214);
}
